body {
    padding: 20px;
}

.board {
    display: flex;
    background-color: #afafaf;
    flex-direction: column;
    text-align: center;
}

.row {
    flex: 5;
    display: flex;
    flex-direction: row;
    font-size: 20vw;   
}

.coordinate {
    background-color: #e5e5e5;
    width: 20vw;
    height: 20vh;
    flex: 4;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: column wrap;
    border: firebrick dashed 1px;
}

.clicked {
    background-color: aqua;
}

.game p {
    background-color: #34282C;
    color: orangered;
    border: black solid 1px;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
}

.board .p1 {
    background-color: cornflowerblue;
}

.board .p2 {
    background-color: yellow;
}