body {
    padding: 0;
}

div#content {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    height: 99vmin;
    width: 99vmin;
}

.board {
    display: flex;
    background-color: #afafaf;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 80vmin;
    width: 80vmin;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.coordinate {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    border: firebrick dashed 1px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 2em;
}

.clicked {
    background-color: aqua;
}

.game p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #34282C;
    color: orangered;
    border: black solid 1px;
    margin: 0;
    padding: 0;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    height: 10vmin;
    width: 100%;
}

.board .p1 {
    background-color: cornflowerblue;
}

.board .p2 {
    background-color: yellow;
}